<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Quality Measurement Simulation Tool</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Software Quality<br>Measurement<br>Simulation <span>Tool</span></h1>
        <p class="iso">ISO 15939</p>
        <button class="start-btn">START PROCESS</button>
    </div>
</body>
</html>
